/* Add a black background color to the top navigation */
.topnav {
    background-color: #308edb;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ddd;
    color: black;
  }
  .center 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ddd;
  color: black;
}

.block {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: lightgray;
}

.center {
  text-align: center;
}

.block img {
  width: 100px;
  height: 100px;
 }

 